In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_excel('Dataset_w6.xlsx')
data

,country,Region,Surface area (km2),Population in thousands (2017),GDP per capita (current US$),Agricultural production index,International trade: Imports (million US$)
0,Afghanistan,SouthernAsia,652864,35530,623.2,125,3568
1,Albania,SouthernEurope,28748,2930,3984.2,134,4669
2,Algeria,NorthernAfrica,2381741,41318,4154.1,160,47091
3,Angola,MiddleAfrica,1246700,29784,4714.1,175,8790
4,Antigua and Barbuda,Caribbean,442,102,14764.5,88,491
...,...,...,...,...,...,...,...
191,Venezuela (Bolivarian Republic of),SouthAmerica,912050,31977,11068.9,118,16324
192,Viet Nam,South-easternAsia,330967,95541,2067.9,136,174111
193,Yemen,WesternAsia,527968,28250,1106.4,136,6861
194,Zambia,EasternAfrica,752612,17094,1311.1,179,7442
195,Zimbabwe,EasternAfrica,390757,16530,890.4,99,5212

In [4]:
data.head()

,country,Region,Surface area (km2),Population in thousands (2017),GDP per capita (current US$),Agricultural production index,International trade: Imports (million US$)
0,Afghanistan,SouthernAsia,652864,35530,623.2,125,3568
1,Albania,SouthernEurope,28748,2930,3984.2,134,4669
2,Algeria,NorthernAfrica,2381741,41318,4154.1,160,47091
3,Angola,MiddleAfrica,1246700,29784,4714.1,175,8790
4,Antigua and Barbuda,Caribbean,442,102,14764.5,88,491

In [5]:
data.isna().sum()

country                                       0
Region                                        0
Surface area (km2)                            0
Population in thousands (2017)                0
GDP per capita (current US$)                  0
Agricultural production index                 0
International trade: Imports (million US$)    0
dtype: int64

# 1.find out how many countries are there in dataset

In [8]:
data.country.value_counts().sum()

196

# 2.find out how many countries with respect to the region are available in the dataset

In [12]:
data.groupby('Region')['country'].count()

Region
Caribbean            16
CentralAmerica        8
CentralAsia           5
EasternAfrica        17
EasternAsia           7
EasternEurope        10
Melanesia             5
Micronesia            4
MiddleAfrica          9
NorthernAfrica        5
NorthernAmerica       4
NorthernEurope       10
Oceania               2
Polynesia             5
South-easternAsia    11
SouthAmerica         12
SouthernAfrica        5
SouthernAsia          9
SouthernEurope       12
WesternAfrica        15
WesternAsia          18
WesternEurope         7
Name: country, dtype: int64

# 3.On average which region has the highest
a.GDP per capita(current US$)

b International trade: imports(million US$)

In [3]:
data.groupby('Region')['GDP per capita (current US$)'].mean().sort_values(ascending= False).head(1)

Region
NorthernAmerica    57659.0
Name: GDP per capita (current US$), dtype: float64

Average GDP per capita is highest for Northern America

In [4]:
data.groupby('Region')['International trade: Imports (million US$)'].mean().sort_values(ascending=False).head(1)

Region
NorthernAmerica    663552.25
Name: International trade: Imports (million US$), dtype: float64

Average international trade is highest for Northern america

# 4.Find out which region has more consistent with respect to GDP per capita

In [9]:
data.groupby('Region')['GDP per capita (current US$)'].std().sort_values().head(1)

Region
WesternAfrica    815.095399
Name: GDP per capita (current US$), dtype: float64

ANS : Western Africa(smaller standard dev more consistant data)